@import url("theme.css");
 
.wy-nav-content {
    max-width: none;
}

h1 {
    font-size: 22px;
    color: #364e96;/*文字色*/
    padding: 0.3em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}

h2 {
    font-size: 20px;
    padding: 0.2em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}

h3 {
    font-size: 18px;
   /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px black;
}

h4,h5,h6 {
    border-bottom: 1px solid #ccc;
}

/* h1{
    font-size: 22pt;
    background-color: #e8e9ea;
} */
/* 
h2,h3,h4,h5,h6 {
    font-size: 90%;
}

h2{
    color: #335183;
    font-size: 8pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

/* テーブルにスクロールバーが表示されるのを防止 */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

/* テーブルのヘッダ／データ文字列のパディング調整 */
.rst-content table.docutils th,.rst-content table.docutils td {
    padding: 5px 5px;
}

/* table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table th,table td{
    padding: 5px 0;
  }
   */
  /* table tr:nth-child(odd){
    background-color: #eee
  } */

/* colgroup {
    display: none;
}  */

/* ナビゲーショントップ／サイドの背景色変更 */
/* .wy-nav-top {
    background: #006400;
}

.wy-side-nav-search {
    background-color: #006400;
} */